.tabview-demo .tabview-header-icon i,
.tabview-demo .tabview-header-icon span {
    vertical-align: middle;
}

.tabview-demo .tabview-header-icon span {
    margin: 0 .5rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.card .card-cover p {
    /* font-size: 1.2rem; */
}

/* VirtualScrollerDemo.css */

.virtualscroller-demo .scroll-item {
    display: flex;
    align-items: center;
}

.virtualscroller-demo .custom-scroll-item {
    flex-direction: column;
    align-items: stretch;
}

.virtualscroller-demo .odd {
    background-color: var(--surface-b);
}

.virtualscroller-demo .p-virtualscroller {
    height: 200px;
    width: 200px;
    border: 1px solid var(--surface-d);
}

.virtualscroller-demo .p-horizontal-scroll .p-virtualscroller-content {
    display: flex;
    flex-direction: row;
}

.virtualscroller-demo .p-horizontal-scroll .scroll-item {
    writing-mode: vertical-lr;
}